html {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

h1 {
  font-family: 'Goldman', cursive;
  color: white;
  font-size: 50px;
}

p {
  font-family: 'Goldman', cursive;
  color: white;
  font-size: 30px;
}

body {
  margin: 0;
  padding: 0;
  background-color: gray;
}

.horizontal-flex-container {   
  display: flex; 
  flex-flow: row;
  justify-content: center;   
  margin: 5px; 
}
