body {
  margin: 15px auto;
  max-width: 1000px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
}

h1 {
  padding: 20px 0px 0px 0px;
}

a {
color: #000000;
text-decoration: none;
}

/* any link you have already visited, you have returned to the ink you have clicked on */
a:visited { 
  text-decoration: none; 
  color: black;
}

/* Centers images */
img {
display: block;
margin: 0px auto;
}

/* When you put a period in front of a CSS declaration, it indicates you are creating a new class. We can apply this to div elements to create different portfolio entries */
.portfolio-item {
  padding: 40px;
}
/* using the css grid, I defined two columns each and three rows (found code through this helpful link) https://tobiasahlin.com/blog/common-flexbox-patterns/#3x3-grid */
.grid  {   
  display: grid;   
  grid-template-columns: repeat(2,450px);  
  /* 3 columns */   
  grid-template-rows: 350px 900px 350px; 
  /* 3 rows */   
  grid-gap:50px 30px; 
  /* 50 pixels of space added between rows and 30 pixels added between columns  */ 
  justify-items: center;
}  
/* determines the level of space between the image and the border itself */
.grid-item {     
  padding:2px; 
}

.flex-container {   
  display: flex; 
  justify-content: center;
}
