body {
  margin: 15px auto;
  max-width: 1000px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
}

h1 {
  padding: 20px 0px 0px 0px;
  margin: 0px 0px;
}

h1 {
  padding: 20px 0px 0px 0px;
  margin: 0px 0px;
  font-family: 'Modak', cursive;
  font-size: 50px;
}

h3 {
font-family: 'Modak', cursive;
font-size: 40px;
}

a {
color: #000000;
text-decoration: none;
}

/* any link you have already visited, you have returned to the ink you have clicked on */
a:visited { 
  text-decoration: none; 
  color: black;
}

/* media holds flex container and makes the page responsive. */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
 }

/* Centers images */
img {
  display: block;
  margin: 0px auto;
}

/* specifying how the images will be laid out */ 
.flex-container {   
  display: flex; 
  justify-content: center;
}

/* When you put a period in front of a CSS declaration, it indicates you are creating a new class. We can apply this to div elements to create different portfolio entries */
.portfolio-item {
  padding: 40px;
}
/* using the css grid, I defined two columns each and three rows (found code through this helpful link) https://tobiasahlin.com/blog/common-flexbox-patterns/#3x3-grid */
.grid  {   
  display: grid;   
  grid-template-columns: repeat(2,40vw);  
  /* 2 columns */   
  /* grid-template-rows: 45vh 45vh 45vh; */
  /* 3 rows */   
  grid-gap:5vh 5vw; 
  /* vh and vw added between columns and grid items */ 
  justify-items: center;
}  
/* determines the level of space between the image and the border itself */
.grid-item {     
  padding:2px; 
}


