body {
  margin: 15px auto;
  max-width: 1000px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
}

/* Brings the name and navigation up, and no margin */
h1 {
  padding: 20px 0px 0px 0px;
  margin: 0px 0px;
}


a {
/* color */
  color: #000000;
  text-decoration: none;
}
/* any link you have already visited, you have returned to the ink you have clicked on */
a:visited {
  text-decoration: none;
  color: black;
}

/* Centers images */
img {
  display: block;
  margin: 0px auto;
}

/* specifying how the images will be laid out */
.flex-container {
  justify-content: center;
  display: flex;
}

/* When you put a period in front of a CSS declaration, it indicates you are creating a new class. We can apply this to div elements to create different portfolio entries */
.portfolio-item {
  padding: 40px;
}

/* media holds flex container and makes the page responsive. */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}


