body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
}

h1 {
  padding: 20px 0px 10px 0px;
  margin-bottom: 0.2em;
}

a {
color: #000000;
text-decoration: none;
}

/*any link you have already visited, you have returned to the link you have clicked on */
a:visited { 
  text-decoration: none; 
  color: black;
}

/* Centers images */
img {
display: block;
margin: 0px auto;
}

/* When you put a period in front of a CSS declaration, it indicates you arecreating a new class. We can apply this to div elements to create different portfolio entries */
.portfolio-item {
  margin-top: 60px;
  padding: 40px;
  background-color: #f7f7f7;
}

/* media holds flex container and makes the page responsive. Helpful code and reference from https://stackoverflow.com/questions/51069321/change-flexbox-direction-on-different-resolution ,slightly modified */ 
@media (max-width: 800px) { 
  .flex-container {     
    flex-direction: column;   
  } 
}

/* specifying how the images will be laid out */ 
.flex-container {   
  display: flex; 
}
/* using the css grid, I defined two columns each and three rows (found code through this helpful link) https://tobiasahlin.com/blog/common-flexbox-patterns/#3x3-grid */
.grid  {      
  display: grid;  
  /* 2 columns */
  grid-template-columns: repeat(2,300px);     
  /* 3 rows */      
  grid-template-rows: 200px 200px 200px;    
  /* 50 pixels of space added between rows and 30 pixels added between columns */  
  grid-gap:50px 30px;    
  /* justifies the default items to the center */ 
  justify-items: center;
}   

/* determines the level of space between the image and the border itself */
.grid-item {         
  padding:2px;  
}
