/* determines font, size, etc. */
body {
  margin: 15px auto;
  max-width: 1500px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 0px;
  text-align: center;
}

h1 {
  padding: 20px 0px 0px 0px;
  margin: 0px 0px;
}

/* treat the scroll bar like overflow units and not reducing the page size */
html {
  overflow-y: scroll;
}

/* font color */
a {
  color: #000000;
  text-decoration: none;
}

/* any link you have already visited, you have returned to the link you have clicked on */
a:visited { 
  text-decoration: none; 
  color: black;
}

/* Centers images */
img {
  display: block;
  margin: 0px auto;
}

/* defines the element as a grid container */ 
.flex-container {   
  display: flex; 
  justify-content: center;
}

/* When you put a period in front of a CSS declaration, it indicates you are creating a new class. We can apply this to div elements to create different portfolio entries */
.portfolio-item {
  padding: 40px;
}


/* using the css grid, I defined two columns each and three rows (found code through this helpful link) https://tobiasahlin.com/blog/common-flexbox-patterns/#3x3-grid */
.grid  {   
  display: grid;   
  /* 2 columns, and screen viewport width, for each column */   
  grid-template-columns: repeat(2, 50vw);  
  /* 3 rows take 40% (first row) and 50% (2nd and 3rd row) of the height of the viewport and that will be the height of the row */  
  grid-template-rows: 40vh 50vh 50vh;   
  /* justifies the default items to the center */ 
  justify-items: center;
} 

/* determines the level of space between the image and the border itself, and to have every video be in the center */
.grid-item {     
  padding:0px; 
}
/* Determines the amount of spaces between the pages on the navigation bar*/
.navigation-item {
  padding: 40px;
}
